<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Editar' : 'Adicionar' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="p-4">
  <form class="px-4 mt-4" [formGroup]="userForm" (ngSubmit)="save()">
    <div class="form-group mb-4">
      <label for="name" class="block text-sm font-medium text-gray-700">Nome</label>
      <input type="text" id="name"
        class="form-control mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" formControlName="name"
        required>
    </div>

    <div class="mb-4">
      <ion-radio-group formControlName="role" class="flex justify-center">
        <ion-item lines="none" class="flex items-center">
          <ion-radio slot="start" value="admin"></ion-radio>
          <ion-label (click)="userForm.controls['role'].setValue('admin')">Admin</ion-label>
        </ion-item>
        <ion-item lines="none" class="flex items-center">
          <ion-radio slot="start" value="user"></ion-radio>
          <ion-label (click)="userForm.controls['role'].setValue('user')">User</ion-label>
        </ion-item>
      </ion-radio-group>
    </div>

    <div class="mt-6">
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        {{ isEdit ? 'Atualizar' : 'Adicionar' }} Usuário
      </button>
    </div>
  </form>
</ion-content>