<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Editar' : 'Adicionar' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
    </ion-item>
    <ion-radio-group formControlName="role" class="flex space-x-4 px-4">
      <ion-item class="flex items-center space-x-2">
        <ion-radio slot="start" value="admin"></ion-radio>
        <ion-label (click)="userForm.controls['role'].setValue('admin')">Admin</ion-label>
      </ion-item>
      <ion-item class="flex items-center space-x-2">
        <ion-radio slot="start" value="user"></ion-radio>
        <ion-label (click)="userForm.controls['role'].setValue('user')">User</ion-label>
      </ion-item>
    </ion-radio-group>
    <div class="p-6">
      <ion-button expand="block" type="submit">{{ isEdit ? 'Atualizar' : 'Adicionar' }} Usuário</ion-button>
      @if(isEdit){
      <ion-button expand="block" color="danger" (click)="deleteUser()">Deletar</ion-button>
      }
    </div>
  </form>
</ion-content>