<!-- confirmation-modal.component.html -->

<ion-content class="custom-modal flex w-30 items-center justify-center p-6 bg-gray-100">
  <div class="bg-white rounded-lg  p-6 max-w-sm mx-auto text-center">
    <h2 class="text-xl font-bold mb-2">Confirmar Exclusão</h2>
    <p class="text-gray-700 mb-4">Você tem certeza que deseja excluir este item? Esta ação não pode ser desfeita.</p>
    <ion-button expand="full" color="danger" (click)="dismiss(true)" class="mt-4">Confirmar Exclusão</ion-button>
  </div>
</ion-content>