<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Editar' : 'Adicionar' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="px-4 mt-4" [formGroup]="taskForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="title" class="block text-sm font-medium text-gray-700">Título</label>
      <input type="text" id="title"
        class="form-control mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" formControlName="title"
        required>
      <p *ngIf="taskForm.get('title')?.invalid && (taskForm.get('title')?.dirty || taskForm.get('title')?.touched)"
        class="mt-2 text-sm text-red-600">
        O nome é obrigatório.
      </p>
    </div>

    <div class="form-group mt-3">
      <label for="description" class="block text-sm font-medium text-gray-700">Descrição</label>
      <textarea id="description" class="form-control mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        formControlName="description" rows="3"></textarea>
    </div>

    <div class="form-group mt-3">
      <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
      <select id="status" class="form-control mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        formControlName="status">
        <option value="pendente">Pendente</option>
        <option value="em andamento">Em andamento</option>
        <option value="concluído">Concluído</option>
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="exp_date" class="block text-sm font-medium text-gray-700">Data de Expiração</label>
      <input type="date" id="exp_date"
        class="form-control mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        formControlName="exp_date">
      <p *ngIf="taskForm.get('exp_date')?.invalid && (taskForm.get('exp_date')?.dirty || taskForm.get('exp_date')?.touched)"
        class="mt-2 text-sm text-red-600">
        O nome é obrigatório.
      </p>
    </div>

    <div class="form-group mt-3">
      <label for="user_id" class="block text-sm font-medium text-gray-700">Usuário</label>
      <select id="user_id" class="form-control mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        formControlName="user_id">
        <option *ngIf="!(users$ | async)?.length" value="" disabled>Não há usuários cadastrados</option>
        <option *ngFor="let user of users$ | async" [value]="user.id">{{ user.name }}</option>
      </select>
    </div>


    <div class="form-group mt-3">
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        [disabled]="taskForm.invalid">
        {{isEdit ? 'Atualizar' : 'Salvar'}}
      </button>
    </div>

  </form>
</ion-content>